.vscode
node_modules
/localSettings.js
/build
steam.txt
dist
blend
/src/examples/old2/
/src/examples/old23/
/src/examples/diffs/
/src/main/examples/diffs/
sketchbook.min.js
npm_output.log
/src/ts/world/templates.ts